<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Google Text To Speech</mat-card-title>
    <mat-card-subtitle>Try out Google TTS API</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="ttsForm">
    <mat-card-content align="center">
      <mat-form-field style="width: 100%;" required>
        <input matInput placeholder="API Key" formControlName="apiKey" required> </mat-form-field>
      <mat-form-field style="width: 100%;" required>
        <textarea matInput placeholder="Text" formControlName="inputText" required></textarea> </mat-form-field>
      <mat-form-field style="float:left;">
        <mat-select placeholder="Voice Name" formControlName="voiceName" required>
          <mat-option value="en-US-Wavenet-A"> en-US-Wavenet-A </mat-option>
          <mat-option value="en-US-Wavenet-B"> en-US-Wavenet-B </mat-option>
          <mat-option value="en-US-Wavenet-C"> en-US-Wavenet-C </mat-option>
          <mat-option value="en-US-Wavenet-D"> en-US-Wavenet-D </mat-option>
          <mat-option value="en-US-Wavenet-E"> en-US-Wavenet-E </mat-option>
          <mat-option value="en-US-Wavenet-F"> en-US-Wavenet-F </mat-option>
        </mat-select>
      </mat-form-field> Speed
      <mat-slider min="0.25" max="4.00" step="0.04" value="1.00" formControlName="speed" [thumbLabel]="true" #speed></mat-slider>{{speed.value | number:'1.2-2'}} &nbsp;&nbsp;&nbsp;Pitch
      <mat-slider min="-20.00" max="20.00" step="0.40"
        value="0.00" [thumbLabel]="true" formControlName="pitch" #pitch></mat-slider>{{pitch.value | number:'1.2-2'}} </mat-card-content>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!ttsForm.valid" (click)="onSubmit()">SPEAK IT</button>
  </mat-card-actions>
  <mat-card-footer>
    <audio controls *ngIf="res!==undefined" preload="none">
      <source [src]="res" type="audio/mpeg"> </audio>
  </mat-card-footer>
</mat-card>
